.recording-container {
    display: flex;
    flex-direction: row; /* Align children side by side */
    align-items: center; /* Center children vertically */
    justify-content: center; /* Center children horizontally */
    width: 100%;
}

.mic-icon {
    margin-right: 10px;
}

.mic-icon.recording {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}