.cart-item {
    position: relative;
    width: 500px;
    height: auto;
    outline: solid 3px #e4a476;
    outline-offset: -3px;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Add padding to keep content away from borders */
    margin-bottom: 10px; /* Add margin to separate CartItems */
  }
  
  .item-name {
    color: #000;
    font-size: 32px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    margin-bottom: 10px;
  }
  
  .item-quantity,
  .item-price {
    color: #000;
    font-size: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    margin-bottom: 5px;
  }
  
  .cream-sugar-hazelnut {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .textBlock3,
  .textBlock4,
  .textBlock5 {
    color: #000;
    font-size: 24px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    margin-bottom: 5px;
  }
  