.microphoneIcon {
    display: flex;
    justify-content: center;
    width: 40px; /* Or the size of your microphone icon */
    height: 40px; /* Or the size of your microphone icon */
    margin-right: 10px;
}
