.order-log {
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 10px;
  outline: 3px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.cart-items-list {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 20px;
}

.cart-item {
  border: 1px solid #f90;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
}

.item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.item-quantity, .item-price {
  font-size: 0.9em;
  margin-bottom: 3px;
}

.order-total {
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

/* Additional styles for sub-items if needed */
.sub-item {
  background: #f0f0f0;
  margin: 5px 0;
  padding: 3px;
  border-radius: 4px;
}
