.total-box {
    width: 100%;
    height: calc(100% - 20px);
    border-radius: 10px;
    background-color: #fff;
    border: 3px solid black;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  