* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.features {
  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.aboutus {
  background: url('./components/images/logo.png');
  background-position: center;
  background-size: cover;  /* Use 'cover' to make the image cover the whole container */
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
  height: 100vh;  /* Set height to 100% of the viewport height */
}


.trybeanhub {
  background-position: center;
  background-size: cover;  /* Use 'cover' to make the image cover the whole container */
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
  height: 100vh;  /* Set height to 100% of the viewport height */
}
