.App {
    text-align: center;
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
  flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  /* Add styles for the PlaybackCircle and MicIcon here */
  .playback-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 20px auto;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .playback-circle.playing {
    /* Apply your desired animation for playback */
  }
  
  .waveform-bars {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 50px;
    margin: 20px;
    width: 100%;
  }
  
  .waveform-bars .bar {
    width: 5px;
    background-color: #777;
    transition: height 0.2s;
    /* Apply your desired animation for recording */
  }
  
  /* Add any other global styles you may need */

  .log-container {
    display: flex;
    justify-content: space-between;
  }